/*deedubwhy.css v0.1*/
html {
	font-family: sans-serif;
	background: url(../images/bg.jpg);
	background-color: #FFF;
}

/*reset body css*/
body {
	margin: 0;
	padding: 0;
}

/*let our images take up their divs*/
img {
	width: 100%;
	float: left;
}

/*grid*/
.grid-container {
	width: 960px;
	margin: auto;
}

.grid-fluid {
	width: 100%;
	overflow: auto;
}

/*rows go in grids*/
.row {
	clear: both;
	overflow: auto;
}

/*columns go in rows*/
.col-11 {
	width: 91.66663%;
	float: left;
}

.offset-11 {
	margin-left: 91.66663%;
}

.col-10 {
	width: 83.33333%;
	float: left;
}

.offset-10 {
	margin-left: 83.33333%;
}

.col-9 {
	width: 75%;
	float: left;
}

.offset-9{
	margin-left: 75%;
}

.col-8 {
	width: 66.66664%;
	float: left;
}

.offset-8 {
	margin-left: 66.66664%;
}

.col-7 {
	width: 58.33333%;
	float: left;
}

.offset-7 {
	margin-left: 58.33333%;
}

.col-6 {
	width: 50%;
	float: left;
}

.offset-6 {
	margin-left: 50%;
}

.col-5 {
	width: 41.666665%;
	float: left;
}

.offset-5 {
	margin-left: 41.666665%;
}

.col-4 {
	width: 33.333333%;
	float: left;
}

.offset-4 {
	margin-left: 33.333333%;
}

.col-3 {
	width: 25%;
	float: left;
}

.offset-3 {
	margin-left: 25%;
}

.col-2 {
	width: 16.666666%;
	float: left;
}

.offset-2 {
	margin-left: 16.666666%;
}

.col-1 {
	width: 8.333333%;
	float: left;
}

.offset-1 {
	margin-left: 8.333333%;
}
/*end grid*/

/*general card for holding info*/
.card {
	width: 93%;
	margin: auto;
	background-color: #a3b1b2;
}

/*pushes our cards apart*/
.card-in {
	margin: 15px 0 15px 0;
}

p {
	font-size: 1.1em;
	line-height: 130%;
}

p.bigger-text {
	font-size: 1.2em;
	line-height: 150%;
	font-weight: 400;
}

p.text {
	font-size: 1.2em;
	height: 50px;
	line-height: 50px;
	color: #FFF;
}

code, pre {
	display: block;
	width: 100%;
	background-color: #ecf0f1;
	color: #7f8c8d;
	border: 1px solid #7f8c8d;
	font-family: monospace;
	padding: 10px;
	border-radius: 5%;
}

pre {
	white-space: pre;
}

/*start text style*/

h1 {
	font-size: 3rem;
	font-weight: 400;
	color: #ecf0f1;
}

h2 {
	font-size: 2.5rem;
	font-weight: 300;
	color: #2c3e50;
}

h3 {
	font-size: 2rem;
	font-weight: 200;
}

h4 {
	font-size: 1.8rem;
	font-weight: 100;
}

h5 {
	font-size: 1.6rem;
	font-weight: 100;
}

h6 {
	font-size: 1.4rem;
	font-weight: 100;
}

h1,h2,h3,h4,h5,h6 {
	letter-spacing: 1px;
}

/*colours*/
.blue {background-color: #2980b9;}
.darker {background-color: #ecf0f1;}

/*some overrides*/
.push-down {
	margin-top: 20px;
	margin-bottom: 20px;
}

.push-in {
	margin-left: 10%;
	margin-right: 10%;
}

.margins {
	margin: 10px 0;
}

.hero-row {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.top-border {
	border-top: 1px solid black;
}
/*alignment*/
.center {text-align: center;}
.right {text-align: right;}
.left {text-align: left;}
.blue-bg {
	background-color: #2c3e50;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
a {
	color: #FFF;
}

/*a button links*/
a.down-link {
	background-color: #3498db;
	height: 40px;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	border-radius: 20px;
	padding: 0 20px;
	transition: all 0.2s ease-in-out;
}

a.down-link:hover {
	background-color: #e74c3c;
}

/*navigation*/
ol {
	list-style-type: none;
	padding: 0;
}
ol li {
	font-size: 1em;
	float: left;
	width: 13%;
	color: #000;
	text-align: center;
}

ol li a {
	color: #000;
	text-decoration: none;
	letter-spacing: 2px;
}

ol li a:hover {
	text-decoration: underline;
	color: #3498db;
}

/*forms*/
input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	font-size: 1.3em;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

textarea {
	width: 90%;
	padding: 12px 20px;
	margin: 8px 0;
	font-size: 1em;
	border: 1px solid #ccc;
}

input[type=submit] {
	width: 100%;
	background-color: rgb(22,188,156);
	color: white;
	padding: 14px 20px;
	font-size: 1.3em;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 10px;
	transition: all 0.2s ease-in-out;
}

input[type=submit]:hover {
	background-color: #3498db;
}

button {
	width: 100%;
	background-color: #3498db;
	color: #FFF;
	padding: 14px 20px;
	font-size: 1.3em;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 10px;
	transition: all 0.2s ease-in-out;
}

button:hover {
	background-color: #2c3e50;
	color: #FFF;
}

/*lets shrink once we're small*/
@media screen and (max-width: 960px) {
	.grid-container {width: 90%;margin:auto;}
}
/*typical media query for phones*/
@media screen and (max-width: 550px) {
	h1 {font-size: 2rem;}
	h2 {font-size: 1.7rem;}
	h3 {font-size: 1.5rem;}
	h4 {font-size: 1.3rem;}
	h5 {font-size: 1.2rem;}
	h6 {font-size: 1rem;}
	input[type=text]{width: 100%;}
	ol li {width: 20%;}
	ol li a {font-size: 0.9em;}
	.hero-row{
		margin-top: 3rem;
		margin-bottom: 2rem;
	}
	.col-1 {width: 100%;}
	.col-2 {width: 100%;}
	.col-3 {width: 100%;}
	.col-4 {width: 100%;}
	.col-5 {width: 100%;}
	.col-6 {width: 100%;}
	.col-7 {width: 100%;}
	.col-8 {width: 100%;}
	.col-9 {width: 100%;}
	.col-10 {width: 100%;}
	.col-11 {width: 100%;}
	.offset-1 {margin-left: 0}
	.offset-2 {margin-left: 0}
	.offset-3 {margin-left: 0}
	.offset-4 {margin-left: 0}
	.offset-5 {margin-left: 0}
	.offset-6 {margin-left: 0}
	.offset-7 {margin-left: 0}
	.offset-8 {margin-left: 0}
	.offset-9 {margin-left: 0}
	.offset-10 {margin-left: 0}
	.offset-11 {margin-left: 0}
}